@media (max-width: 1800px) {
  .header {
    .header {
      padding: 31px 6%;
    }
  }
}


@media (max-width: 700px) {
  .header {
    padding: 21px 6%;
  }
}

@media (max-width: 520px) {
  .header {
    &__menu {
      margin-right: 40px;
    }
  }
  .container {
    width: 100%;
    min-height: 295px;
    padding: 36px 27px;
  }
}